ul{
    list-style: none;
}
input{
    background-color: rgb(232, 232, 232);
    width: 50em;
    height: 45px;
    border-radius: 20px;
}
button{
    background-color: rgb(57, 118, 250);
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 50px;
    width: 80px;
}
.in{
    display: flex;
}
.container{
    background-color: gainsboro;
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

 .header{
    grid-column: 2/4;
    display: grid;
}
.upper_header{
    display: flex;
    justify-content: space-around;
}
.upper-right-header{
    display: flex;
    gap: 10px;
}
.upper-left-header{
    display: flex;
    gap: 10px;
}

.lower_header{
    display: flex;
    justify-content: space-around;
}
.header_ul{
    display: flex;
    gap: 15px;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: rgb(34, 101, 245);
} 
.dash{
    font-weight: bolder;
    font-size: xx-large;
}
.sidebar_ul li{
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}
.comunity{
    margin-bottom: 70px;
}
.lower_sidebar{
    display: flex;
    gap: 15px;
}
.hs{
    grid-row: 2;
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
    gap: 700px;
}
.cards{
    grid-column: 2;
    grid-row: 3;
    display: grid;
     grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px;
    gap: 10px;
    justify-content: center;
}
.card{
    background-color: white;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
    border-left: 7px solid gold;
    width: 350px;
    height: 250px;
}
.text{
    font-size: large;
    font-weight: 600;
}
section{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.right-side{
    grid-column: 3;
    grid-row: 3;

}

.announcements{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #fff;
    height: 400px;
    width: 200px;
    border-radius: 20px;
    padding: 10%;
    margin-bottom: 5px;
}

.announcements div{
    border-bottom: 2px solid black;
    height: 150px;
    width: 150px;
    
}
.announcements p{
    font-size: small;
    text-align: center;
}
.trending{
    height: 500px;
    width: 200px;
}
.in_trending{
    background-color: #fff;
    height: 400px;
    width: 200px;
}