*{
    margin: 0%;
    box-sizing: border-box;
}

.container{
    background-color: gainsboro;
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-template-rows: 200px 1fr;
}

 .header{
    background-color: #fff;
    grid-column: 2/4;
    display: grid;
    padding: 10px;
}
.upper_header{
    display: flex;
    justify-content: space-around;
    gap: 15em;
}
.upper-right-header{
    display: flex;
    gap: 10px;
}
.upper-left-header{
    display: flex;
    gap: 10px;
}
.in{
    display: flex;
}
.lower_header{
    display: flex;
    justify-content: space-around;
    gap: 17em;
}
.header_ul{
    display: flex;
    gap: 20px;
}
ul{
    list-style: none;
}
input{
    background-color: rgb(232, 232, 232);
    width: 55em;
    height: 45px;
    border-radius: 20px;
}
button{
    background-color: rgb(57, 118, 250);
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 50px;
    width: 80px;
}
.morgan{
    font-weight: bolder;
    font-size: large;
}
.hi{
    font-weight: 700;
    font-size: small;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: rgb(34, 101, 245);
} 
.dash{
    font-weight: bolder;
    font-size: xx-large;
}
.sidebar_ul li{
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}
.comunity{
    margin-bottom: 70px;
}
.lower_sidebar{
    display: flex;
    gap: 15px;
}


.cards-section{
    grid-column: 2;
    grid-row: 2;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.card{
    background-color: white;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    border-left: 7px solid gold;
    width: 450px;
    height: 200px;
    margin:  0 auto;
}
.text{
    font-size: large;
    font-weight: 600;
}
section{
    display: flex;
    justify-content: end;
    margin-top: 30px;
    gap: 5px;
}
section img{
    height: 40px;
    padding: 5px;
}
.title{
    font-weight: 800;
    font-size: larger;
    font:  sans-serif;
}
.shift{
    position: relative;
    left: 50px;
}
.anoun_tren {
    grid-column: 3;
    grid-row: 2;
}



.announcement-content {
    background-color: #fff;
    width: 300px;
    border-radius: 8px;

}

.Announcement {
    padding: 10px;
    background-color: #fff;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px rgb(0, 0, 0) solid;
    height: 95px;
    margin-bottom: 10px;
}


.users {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;

}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.user-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}