ul{
    list-style: none;
}
input{
    background-color: rgb(232, 232, 232);
    width: 50em;
    height: 45px;
    border-radius: 20px;
}
button{
    background-color: rgb(57, 118, 250);
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 50px;
    width: 80px;
}

.container{
    background-color: gainsboro;
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
}

 .header{
    background-color: #fff;
    grid-column: 2/4;
    display: grid;
}
.upper_header{
    display: flex;
    justify-content: space-around;
}
.upper-right-header{
    display: flex;
    gap: 10px;
}
.upper-left-header{
    display: flex;
    gap: 10px;
}
.in{
    display: flex;
}
.lower_header{
    display: flex;
    justify-content: space-around;
}
.header_ul{
    display: flex;
    gap: 15px;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: rgb(34, 101, 245);
} 
.dash{
    font-weight: bolder;
    font-size: xx-large;
}
.sidebar_ul li{
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}
.comunity{
    margin-bottom: 70px;
}
.lower_sidebar{
    display: flex;
    gap: 15px;
}


.cards-section{
    grid-column: 2;
    grid-row: 3;
}
.cards{

    display: grid;
     grid-template-columns: 400px 400px;
    grid-template-rows: 300px 300px;
    gap: 10px;
    justify-content: center;
}
.card{
    background-color: white;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    border-radius: 5px;
    border-left: 7px solid gold;
    width: 350px;
    height: 250px;
}
.text{
    font-size: large;
    font-weight: 600;
}
section{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.anoun_tren {
    grid-column: 3/4;
    grid-row: 3/4;
}



.announcement-content {
    background-color: #fff;
    width: 300px;
    border-radius: 8px;

}

.Announcement {
    padding: 10px;
    margin: 5px;
    background-color: #fff;    
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px rgb(0, 0, 0) solid;
}


.users {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;

}

.users>div {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
}